*.a
*.fas*
*.ver
*.*history
*.lib
*.my
*.o
*.obj
*.so*
*.qm
*.qmlc
*.stash
*.ts
*.ecl*
*.eql*
*~
*.~
#*.*#
.*
*.user
t.lisp
tr.h
moc_*.cpp
Makefile
Makefile.*
cache
tmp*
qrc_*.cpp
assets
android-build
*.tgz
a
b
c
m
r
r.lisp
files.txt
