*.a
*.fas*
*.ver
*.*history
*.lib
*.o
*.obj
*.so*
*.qm
*.qmlc
*.stash
*.ts
*.ecl*
*.eql*
*~
*.~
#*.*#
.*.lisp
.*.ui
.*.txt
*.user
t.lisp
tr.h
moc_*.cpp
Makefile
Makefile.*
cache
tmp*
qrc_*.cpp
android-build
*.tgz
b
r
r.lisp
files.txt
